
<div>
<amplify-authenticator>
  
</amplify-authenticator>
</div>

<div class="flexWrapper">
    <!--<img src="https://d2i4ffz2le2ujc.cloudfront.net/images/kid.jpg">Test Image-->
   
          <div class="sidenav">
            
            <ng-container *ngIf="authenticator.route === 'authenticated'">
          <h1>welcome {{authenticator.user.username}}</h1>
    <button class="button" mat-raised-button (click) = "authenticator.signOut()">Sign Out</button>
    <button class="button" mat-raised-button (click)="getfiles()" style="margin-top: 5px;">List Assets</button>
    
    <mat-progress-spinner mode="indeterminate" *ngIf="showprogressbar"></mat-progress-spinner>
    <p style="Color:black;margin-top:5px;">Upload a file to process</p>
    <input class="button" type="file" placeholder="Upload File" (change)="uploadfiles($event)" style="margin-top: 5px;"/>
    
    <div *ngIf="fileuploaded" style="margin-top: 5px;">
      <p style="color: green;">File Uploaded</p>
      <p style="Color:black;margin-top:5px;">Select Media Type</p>
      <select [(ngModel)]="mediaType" class="button">
        <option style="background-color: darkorange;" value="Image">Image</option>
        <option style="background-color: darkorange;" value="Video">Video</option>
      </select>
      <p style="Color:black;margin-top:5px;">Select Workflow</p>
      <select [(ngModel)]="selectedworkflow" class="button" >
      <option style="background-color: darkorange;"*ngFor="let workflow of workflows" [value]="workflow">{{workflow}}</option>
      </select>
    <button class="button" mat-raised-button (click)="process()" >Run Workflow</button>
    </div>
    <div *ngIf="jobId !== ''">

      <button class="button" mat-raised-button (click)="getjobstatus()">Get Job Status</button>
      
      <p>AssetId: {{AssetId}}</p>
      
      <p>Job Status : {{jobStatus}}</p>
      <p>Current Stage : {{jobcurrentstage}}</p>
    </div>
    <br><br>
    <label>Confidence</label>
    <input type="number" [(ngModel)]="settings.threshold" placeholder="Confidence Threshold" min="50" max="100">
    

    
  </ng-container>
          </div>
    <div class="sidenav" style="overflow-y: scroll" *ngIf="getfilesclicked === 'true' && authenticator.route === 'authenticated'">
      <app-table [Assets]="assetsids"></app-table>
    </div>
    
        
        
        
        
        <div class="routerOutlet">
          <router-outlet></router-outlet>
        </div>
        
      
    
    
  




 
</div>