.table{
    border: 1px solid black;
    
    text-align: left;
    
}

.media{
  height: 50vh;
  width: fit-content;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   
    padding-top: 10px;
    text-align: left;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }